@model SlackApp.Models.Channel

<div class="category-container" style="background-color: lightpink; padding: 10px;">

    <h2 class="text-center mt-5">Create Channel</h2>

</div>

<br />

<div class="category-container" style="background-color: #f5f5f5; padding: 20px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">

                @using (Html.BeginForm(actionName: "New", controllerName: "Channels",
                method: FormMethod.Post))
                {

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @Html.Label("Name", "Channel Name")
                    <br />
                    @Html.TextBox("Name", null, new { @class = "form-control" })

                    @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                    <br />

                    <br />

                    @Html.Label("Description", "Channel Description")
                    <br />
                    @Html.TextArea("Description", null, new { @class = "form-control" })

                    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                    <br />

                    <br />

                    <label>Select Category</label>
                    @Html.DropDownListFor(c => c.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                "Select category", new { @class = "form-control" })

                    @Html.ValidationMessageFor(c => c.CategoryId, null, new { @class = "text-danger" })
                    <br />

                    <br />

                    <button class="btn btn-success" type="submit">Submit</button>

                }
            </div>
        </div>
    </div>
</div>